Repository honeycombio/beeline-go, pull requests merged in 2022-02, with the labels that each got.

#302 Prepare 1.5.0 release
  CHANGELOG.md
  version.go
Labels: type: maintenance, version: bump minor

#304 Prepare v1.5.1 release
  CHANGELOG.md
  version.go
Labels: type: maintenance, version: bump patch

#305 feat: pass process root span id as pprof profile id tag
  beeline.go
  trace/context.go
  trace/trace.go
Labels: type: enhancement
